<div class="container-fluid">
  <div class="row">
    {{#unless csvData}}
      <h5>File upload</h5>
      {{file-upload csvFileUploaded=(action csvFileUploaded)}}
    {{else}}
      {{csv-data-table model=csvData}}
    {{/unless}}
  </div>
</div>
